<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Student | Home</title>
  <script src="https://kit.fontawesome.com/a1afb792b6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <style>

body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

  </style>
</head>

<body>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fa-solid fa-book-open fa-5x"></i> -->
    <i class="fa-solid fa-book-open-reader fa-5x fa-shake"></i>
    <h1 class="display-3">Grade</h1>
    <p class="lead">Welcome <%= studentName %>! to automated descriptive answer checker!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/student/take-test" role="button">Take Test</a>
    <a class="btn btn-success btn-lg" href="/student/view-scorecard?studentName=<%= studentName %>" role="button">View Scorecard</a>
    <a class="btn btn-danger btn-lg" href="../auth/logout" role="button">Logout</a>
  </div>
</div>


</body>
</html>
