<!DOCTYPE html>
<html>
<head>
  <title>Test Submitted</title>
</head>
<body>
  <h1>Test Successfully Submitted</h1>
  <p>Thank you, <%= studentName %>! Your test has been submitted. You will be able to view your results once the teacher has published them.</p>
  <a href="/student/view-scorecard?studentName=<%= studentName %>">Go to Home Page</a>
</body>
</html>
